<h2>Alterar Senha</h2>

<%= form_with url: update_password_path, method: :patch, local: true do |form| %>
  <div class="form-group">
    <%= form.label :current_password, "Senha Atual" %>
    <%= form.password_field :current_password, class: "form-control", required: true %>
  </div>
  <div class="form-group">
    <%= form.label :password, "Nova Senha" %>
    <%= form.password_field :password, class: "form-control", required: true %>
  </div>
  <div class="form-group">
    <%= form.label :password_confirmation, "Confirmação de Senha" %>
    <%= form.password_field :password_confirmation, class: "form-control", required: true %>
  </div>
  <%= form.submit "Alterar Senha", class: "btn btn-primary mt-3" %>
<% end %>
