<% if notice.present? %>
  <div class="alert alert-success text-center">
    <%= notice %>
  </div>
<% end %>

<% if alert.present? %>
  <div class="alert alert-danger text-center">
    <%= alert %>
  </div>
<% end %>

<div class="text-end mb-4">
  <%= link_to "Criar novo post", new_post_path, class: "btn btn-primary" %>
</div>

<% @posts.each do |post| %>
  <%= render post %>
<% end %>

<div class="pagination mt-4">
  <%= paginate @posts %>
</div>
